---
import HeartIcon from '#assets/icons/heart.svg';
import type { Post } from '#pods/post-collection/post-collection.model.ts';
import MarkdownRenderer from '#components/markdown-renderer.astro';
import LikeButton from '#pods/post/components/like-button.component.tsx';


interface Props {
  entry: Post;
  lickeCount?: number;
  minRead?: string;
}

const { entry, lickeCount, minRead } = Astro.props;
---

<div class="flex flex-col gap-6">
  <h1 class="text-4xl font-bold">{entry.title}</h1>
  <div class="border-tbase-500/90 mb-2 flex items-center justify-between gap-4">
    <p>{entry.readTime} {minRead}</p>
    <LikeButton client:load slug={entry.slug}/>
  </div>
  <MarkdownRenderer content={entry.content} />
  <p>Vamos a hacer pruebas</p>
  <div>
    <h1>Pruebas</h1>
  </div>
</div>
   